html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#name {
  text-align: center;
}

#screen {
  width: 800px;
  height: 500px;
  border: solid 2px black;
  position: absolute;
  right: 0;
  top: 0;
}

#background {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

#screen > h1 {
  display: block;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 10px;
  font-family: sans-serif;
}

#screen > h2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: sans-serif;
}

#screen .sprite {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: xxx-large;
  color: black;
}

#axes {
  width: 850px;
  height: 520px;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

#axes #x .lo {
  position: absolute;
  left: 50px;
  bottom: 0;
}

#axes #x .hi {
  position: absolute;
  right: 0;
  bottom: 0;
}

#axes #x .label {
  position: absolute;
  left: 400px;
  bottom: 0;
}

#axes #y .lo {
  position: absolute;
  left: 35px;
  bottom: 20px;
}

#axes #y .hi {
  position: absolute;
  left: 20px;
  top: 0;
}

#axes #y .label {
  position: absolute;
  left: -10px;
  bottom: 240px;
  transform: rotate(-90deg);
}

.label,
.hi,
.lo {
  font-weight: bold;
}